DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_ROOT_PASSWORD=

RUN_MIGRATIONS=
MIGRATIONS_PATH=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_DB=

RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_VHOST=
RABBITMQ_EXCHANGE=
RABBITMQ_QUEUE_NOTIFICATIONS=
RABBITMQ_ROUTING_KEY=
RABBITMQ_REQUEST_QUEUE=
RABBITMQ_RESPONSE_QUEUE=
RABBITMQ_PREFETCH_COUNT=

PORT=

JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_DURATION=
JWT_REFRESH_DURATION=
JWT_ISSUER=

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URL=

DISCORD_BOT_TOKEN=
DISCORD_TOKEN=

HENRIK_RIOT_API_KEY=

WEB_URL=